/* src/pages/WatchlistPage.css */
.container {
    padding: 20px;
  }

  .body-for-watchlist{
    color: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
  }

  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
  }
  


  .watchlist-title{
    color: rgb(255, 255, 255);
  }
  

  
